.wrapper {
  width: calc(100% - 175px);
  min-width: 400px;
  float: left;
  margin-left: 175px;
  padding: 90px 0 400px 0;
}
.wrapper.tiny {
  padding-top: 60px;
}
.wrapper section {
  width: 100%;
  min-height: 200px;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 40px;
  float: left;
}
.wrapper section#headings h1, .wrapper section#fonts h1, .wrapper section#typography h1 {
  font-size: 30px;
}
.wrapper section#headings h2, .wrapper section#fonts h2, .wrapper section#typography h2 {
  font-size: 26px;
}
.wrapper section#headings h3, .wrapper section#fonts h3, .wrapper section#typography h3 {
  font-size: 22px;
}
.wrapper section#headings h4, .wrapper section#fonts h4, .wrapper section#typography h4 {
  font-size: 18px;
}
.wrapper section#headings span,
.wrapper section#headings p, .wrapper section#fonts span,
.wrapper section#fonts p, .wrapper section#typography span,
.wrapper section#typography p {
  display: block;
  margin-bottom: 10px;
}
.wrapper section#headings span.primary,
.wrapper section#headings p.primary, .wrapper section#fonts span.primary,
.wrapper section#fonts p.primary, .wrapper section#typography span.primary,
.wrapper section#typography p.primary {
  font-size: 20px;
  font-weight: 600;
}
.wrapper section#headings span.secondary,
.wrapper section#headings p.secondary, .wrapper section#fonts span.secondary,
.wrapper section#fonts p.secondary, .wrapper section#typography span.secondary,
.wrapper section#typography p.secondary {
  font-size: 16px;
  font-weight: 600;
}
.wrapper section#headings span.content-default,
.wrapper section#headings p.content-default, .wrapper section#fonts span.content-default,
.wrapper section#fonts p.content-default, .wrapper section#typography span.content-default,
.wrapper section#typography p.content-default {
  font-size: 14px;
}
.wrapper section#headings span.content-small,
.wrapper section#headings p.content-small, .wrapper section#fonts span.content-small,
.wrapper section#fonts p.content-small, .wrapper section#typography span.content-small,
.wrapper section#typography p.content-small {
  font-size: 12px;
}
.wrapper section#headings span.content-subtext,
.wrapper section#headings p.content-subtext, .wrapper section#fonts span.content-subtext,
.wrapper section#fonts p.content-subtext, .wrapper section#typography span.content-subtext,
.wrapper section#typography p.content-subtext {
  font-size: 12px;
  font-style: italic;
}
.wrapper section#buttons button {
  display: block;
  margin-bottom: 20px;
}
.wrapper section#buttons button.primary {
  font-size: 26px;
  padding: 12px 40px;
}
.wrapper section#buttons button.secondary {
  font-size: 20px;
  padding: 8px 20px;
  border: 1px solid #222;
  background: #222;
  color: white;
}
.wrapper section#buttons button.inverse {
  font-size: 20px;
  padding: 8px 20px;
  border: 1px solid #222;
  background: #fff;
}
.wrapper section#buttons button.default {
  font-size: 18px;
  padding: 8px 20px;
}
.wrapper section#buttons button.detail {
  font-size: 14px;
  padding: 6px 10px;
}
.wrapper section#buttons button.small {
  font-size: 12px;
  padding: 4px 8px;
}
.wrapper section#icons .icon {
  filter: invert(0.8);
  width: 30px;
  margin: 20px 60px 40px 0;
}
.wrapper section#forms fieldset {
  border: 0;
  padding: 10px 0 0;
  margin: 10px 0 0;
}
.wrapper section .crate,
.wrapper section .cb2 {
  width: calc(50% - 20px);
  min-width: 150px;
  padding-right: 20px;
  float: left;
}

body,
html,
.main {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, san-serif;
  font-size: 10px;
}
body a,
html a,
.main a {
  color: #333;
  font-size: 1.2em;
}

header {
  height: 75px;
  width: calc(100% - 140px);
  min-width: 400px;
  position: fixed;
  top: 0;
  background: white;
  z-index: 100;
  box-shadow: 0px 6px 24px -8px rgba(0, 0, 0, 0.35);
  padding: 0 0 0 140px;
  transition: all 0.3s;
}
header .logo {
  width: 50%;
  min-width: 200px;
  text-align: center;
  float: left;
  transition: all 0.4s ease;
}
header .logo img {
  width: auto;
  transition: all 0.4s ease;
}
header .logo img.crate {
  margin-top: 24px;
  height: 27px;
}
header .logo img.cb2 {
  margin-top: 19px;
  height: 37px;
}
header.tiny {
  height: 55px;
  padding: 0 0 0 140px;
  transition: all 0.4s ease;
}
header.tiny img {
  width: auto;
  transition: all 0.4s ease;
}
header.tiny img.crate {
  margin-top: 15px;
  height: 25px;
}
header.tiny img.cb2 {
  margin-top: 12px;
  height: 32px;
}

.left-nav {
  width: 95px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 110px 10px 0 20px;
  height: 100%;
  z-index: 99;
  box-shadow: 0px 6px 24px -8px rgba(0, 0, 0, 0.35);
  background: white;
}
.left-nav a {
  display: block;
  margin: 0 0 20px;
  font-size: 1.2em;
  text-decoration: none;
}

.title {
  font: 500 18px/18px Segoe UI Light, "Helvetica Neue", "Gill Sans", Arial, sans-serif;
  width: 200px;
  color: #222;
  display: block;
  margin-bottom: 20px;
}
